:host {
    --control-border: 3px dashed transparent;
    --control-back-color: pink;
    --control-color: blue;
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --control-border-active: 3px solid blue;
    --control-height: 50px;
    --control-padding: 30px;

    display: flex;
}

app-x-button.x-button {
    line-height: 50px;
    width: 200px;
    padding: 20px;
}