
button {
    font-size: 12px;
    padding: 2px;
    font-weight: bold;
}

.nav-bar {
    padding: 10px;
} 

.view-1 {
    padding: 5px;
    margin: 5px;
    background-color: antiquewhite;
}

.view-2 {
    padding: 5px;
    margin: 5px;
    background-color: cornflowerblue;
}

.view-1 > app-x-text {
    color: red;
    line-height: 50px;
    background-color: yellow;
    border: 1px solid red;
}

.view-2 > app-x-text {
    color: magenta;
    line-height: 150px;
    background-color:limegreen;
    border: 2px dotted magenta;
}