<div class="view-1"><app-x-text [text]="'control in View-1'"></app-x-text></div>
<div class="view-2"><app-x-text [text]="'control in View-2'"></app-x-text></div>

<app-x-button class="theme--dark" caption="Dark theme"></app-x-button>
<app-x-button class="theme--light" caption="Light theme"></app-x-button>
<div class="nav-bar">
    <button (click)="toggleTheme($event)">Switch to {{theme2be}}</button>
</div>

<div class="flex-container">
    <app-x-button class="flex-item" [theme]="theme" caption="Theming with JS"></app-x-button>
    <app-x-button class="flex-item" [theme]="theme" caption="Theming with JS"></app-x-button>
    <app-x-button class="flex-item" [theme]="theme" caption="Theming with JS"></app-x-button>
    <app-x-button class="flex-item" [theme]="theme" caption="Theming with JS"></app-x-button>
    <app-x-nav-bar></app-x-nav-bar>
</div>
