:root {
    --control-height: 200px;
    --control-padding: 5px
}

body {
        padding:10px;
        font-size: 12px;
    }

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item {
    flex-grow: 1;
}
