@media only screen and (min-width: 560px) {

    body {
        font-size: 14px;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .flex-item {
        min-width: 50%;
    }
}