.theme--light {
    --control-border: 3px dotted transparent;
    --control-back-color: wheat;
    --control-color: darkblue;
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    --control-border-active: 3px solid red;
  }