.theme--dark {
  --control-border: 3px dotted transparent;
  --control-back-color: midnightblue;
  --control-color: gold;
  --font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --control-border-active: 3px solid magenta;
}