.x-button {
    border: var(--control-border);
    background-color: var(--control-back-color);
    color: var(--control-color);
    font-family: var(--font-family);
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    line-height: var(--control-height);
    padding: var(--control-padding);
}

.x-button:hover {
    border: var(--control-border-active);
    cursor: pointer;
}
